@import "variables";

.container-services {
  @include container;
}
//Section "web-development"
.web-development {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .web-deveplopment-text {
    max-width: 555px;
    flex-direction: column;
    @include title;
    p {
      padding-top: 35px;
      color: #777777;
      font-family: $font-brandon;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .services-img {
    margin: auto;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      max-width: 240px;
    }
  }
}

//Section "identity-branding"
.identity-wrap {
  background-color: #fafafa;
}

.identity-branding {
  @include container;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  .identity-branding-text {
    max-width: 516px;
    flex-direction: column;
    @include title;
    padding: 5px;
    p {
      padding-top: 35px;
      color: #777777;
      font-family: $font-brandon;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}


//Section "skills"

.skills {
  @include container;
  margin-top: -40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.skills-list {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-basis: 400px;
}

.skills-img {
  min-width: 72px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-text-wrap {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.title-skills {
  color: #222222;
  font-family: $font-brandon;
  font-size: 22px;
  font-weight: 500;
}

.text-skills {
  padding: 10px 0;
  color: #777777;
  font-family: $font-brandon;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.45px;
}

// Section "awesome-clients"

.awesome-clients {
  background-color: #fafafa;
}

.awesome-clients-container {
  @include container;
  @include title;
}

@import "media-request";


